{% extends './base.html' %}

{% block title %}Inicio de sesión{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/datosbasicos.css') }}">
{% endblock %}

{% block body %}

<form class="form-signin p-2" action="/registrarUsuario1" method="POST">
    <img class="mb-4" src="{{ url_for('static', filename='img/person1.png') }}" alt="" width="120" height="120">
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    <br />
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% endwith %}

    <legend class="text-center header">Datos básicos</legend>

<div id="tabla-cajas">

    <div class="caja magictime" onclick="mostrardetalleCaja1()" id="cajaencabezado">
        <div class="precio-col-comprar">
            <a>Sexo</a>
             </div>
    </div>

    <div class="caja" id="cajadetalle" >
        <a>Sexo</a>
        <div class="form-group input-group"> <!-- State Button -->
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user mediumicon"></i></span>
            </div>
            <select class="form-select form-select-sm" name="sexo">
                <option selected>Seleccionar sexo...</option>
                <option value="F">Femenino</option>
                <option value="M">Masculino</option>
            </select>                    
        </div>
    </div>

    
    <div class="caja" onclick="mostrardetalleCaja2()" id="cajaencabezado1">
        <div class="precio-col-comprar">
            <a>Edad</a>
        </div>
    </div>

    <div class="caja" id="cajadetalle1" >
        <a>Edad</a>
        <div class="form-group input-group"> <!-- State Button -->
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user mediumicon"></i></span>
            </div>
            <select class="form-select form-select-sm" name="edad">
                <option selected>Seleccionar edad....</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
                <option value="46">46</option>
                <option value="47">47</option>
                <option value="48">48</option>
                <option value="49">49</option>
                <option value="50">50</option>
              </select>              
        </div>
    </div>

    <div class="caja magictime" onclick="mostrardetalleCaja3()" id="cajaencabezado2">
        <div class="precio-col-comprar">
            <a>Estado civil</a>
             </div>
    </div>

    <div class="caja" id="cajadetalle2" >
        <a>Estado civil</a>
        <div class="form-group input-group"> <!-- State Button -->
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user mediumicon"></i></span>
            </div>
            <select class="form-select form-select-sm" name="estadoCivil" required>
                <option selected>Seleccionar estado civil...</option>
                <option value="Soltero">Soltero</option>
                <option value="Casado">Casado</option>
                <option value="Separado">Separado</option>
                <option value="Viudo">Viudo</option>
                <option value="Unión Libre">Unión Libre</option>
            </select>                    
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-primary btn-lg">Siguiente</button>
    </div>
</div>

</form>

{% endblock %}